            <div class="container">
                <div class = "jumbotron">
                    <h1 id="title"> What is Project Alpaca? </h1>   
                    <p> Project Alpaca is a 2D Platformer Game where you take on the role of an Alpaca fighting against the evil alien empire. This is not just any alpaca though. This alpaca is armed to the hoof with the latest and greatest in cybernetics. Armed with his mighty rocket pack and robotic limbs, he will move through enemy fire and defeat the alien empire once and for wool. </p>
                    <p> On his way, he will encounter tough foes, dangerous obstacles, and other mysterious strangers that will either help or stop him from his mission. Fight on and make the fleece fly.</p>
                    <p> Run, shoot, jump, and mount vehicles as you traverse through seven levels that will test your limits. But fight on and make the fleece fly. </p>
                    <h3>Features</h3>
                    <ul>
                        <li>Run, jump, and shoot your way through 7 exciting levels.</li>
                        <li>Tackle larger than life bosses and rivals as you travel the globe. </li>
                        <li>Ride unique robotic mechs to power up your arsenal and push through the frontlines. </li>
                        <li>Lighthearted story told through actions rather than words. After all, Alpaca's don't speak. </li>
                    </ul>
                    <h3>More Info</h3>
                    <ul>
                        <li>In development for Windows, Mac OSX, and Linux.</li>
                        <li>Made with Unity 5.</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    
    <footer>

    </footer>