            <div class="container">
                <div class = "jumbotron">
                    <h1 id="title"> Questions & Answers </h1>   
                    <ul>
                        <li>Will there be a Multiplayer mode?</li>
                        <p>At this time, Multiplayer is not planned for the final release. Single player will be the main focus. </p>
                        <li>What platforms will I be able to play the game on?</li>
                        <p>The game will be available on Windows, Mac, and Linux at this time.</p>
                        <li>Will Project Alpaca be on *insert platform here* in the future?</li>
                        <p>Maybe? We don't know. Possibly? We'll see. </p>
                        <li>What engine is Project Alpaca made in?</li>
                        <p>We are using Unity 5 to make the game.</p>
                        <li>Where can I play Project Alpaca?</li>
                        <p>You can download the current build of the game right on this site or play right in the browser (Unity Supported Browsers Only).</p>
                        <li>I found a bug in the game? Is there a way I can let you know?</li>
                        <p>Send your issues to alpacadev@gmail.com.</p>
                        <li>Your game is bad and you should feel bad.</li>
                        <p>Send your complaints to alpacadev@gmail.com.</p>
                        <li>How much will the final game cost?</li>
                        <p>The game will be 100% free to play.</p>
                        <li>Will there be controller support?</li>
                        <p>We will be supporting Xbox 360, Xbox One, and Playstation 4 controllers at this time.</p>
                        <li>What are the system requirements needed to run this game?</li>
                        <p>This is hard to estimate as the game is still being developed and optimized but any computer made in the last 6-7 years should handle the game. </p>
                        <li>How can I learn more about the game as it progresses?</li>
                        <p>Checkout our Facebook, Twitter, and Tumblr pages which will give you updates on upcoming features and news.</p>
                        <li>I hate alpacas, can I still enjoy your game?</li>
                        <p>If you hate alpacas, then you must be a very sad individual but if you love platformers, you may enjoy the game.</p>
                        <li>I am an alpaca, can I play your game?</li>
                        <p>Here at Team Alpaca, we beleive that anyone can play our game, including alpacas. </p>
                        <li>Do you love alpacas?</li>
                        <p>Yes.</p>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    
    <footer>

    </footer>